[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
seaborn = "*"
matplotlib = "*"
jinja2 = "*"
scikit-learn = "*"
tox = "*"
flask = "*"
flask-cors = "*"
flask-injector = "*"
gunicorn = "*"

[dev-packages]
ipykernel = "*"
pytest = "*"
mypy = "*"
ruff = "*"
nbqa = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
